@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* #e4e6eb */
/* .dark
{
    background: #18191a;
    color: #a7aaaf; 
    font-family: 'Russo One', sans-serif;
} */


@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #028ee6;
    overflow: hidden;
    z-index: -1;
    transition: 1s all cubic-bezier(.22,.68,0,1.71);
    -webkit-transition: 1s all cubic-bezier(.22,.68,0,1.71);
    -moz-transition: 1s all cubic-bezier(.22,.68,0,1.71);
    -ms-transition: 1s all cubic-bezier(.22,.68,0,1.71);
    -o-transition: 1s all cubic-bezier(.22,.68,0,1.71);
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 80%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 61%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 45%;
    width: 173px;
    height: 173px;
    bottom: -173px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 72%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 8s;
}
.background li:nth-child(4) {
    left: 60%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 18s;
}
.background li:nth-child(5) {
    left: 16%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 22s;
}
.background li:nth-child(6) {
    left: 3%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 2s;
}
.background li:nth-child(7) {
    left: 24%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 9s;
}
.background li:nth-child(8) {
    left: 49%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 40s;
}
.background li:nth-child(9) {
    left: 34%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 2s;
}